{template nheader.html}
{php $_pages=$pages;}


<form action="" method="post" name="myform" id="myform">
	<input name="action" id="action" type="hidden" value="del" />
	<div class="portlet mylistbody">
		<div class="portlet-body">
			<div class="table-scrollable">

				<table class="mytable table table-striped table-bordered table-hover table-checkable dataTable">

		<thead>
		<tr>
			<!--<th width="10"></th>-->
			<th class="{ns_sorting('cname')}" name="cname" >{fc_lang('姓名')}</th>
			<th class="{ns_sorting('phone')}" name="phone" >{fc_lang('电话')}</th>
			<th class="{ns_sorting('address')}" name="address" >{fc_lang('地址')}</th>
			<th class="{ns_sorting('address')}" name="address" >{fc_lang('上次欠款时间')}</th>
			<th class="{ns_sorting('address')}" name="address" >{fc_lang('销售人员')}</th>
			<th class="{ns_sorting('debtBucket')}" name="address" >{fc_lang('欠桶')}</th>
			<th class="{ns_sorting('debtMoney')}" name="address" >{fc_lang('欠款')}</th>
			<th class="{ns_sorting('address')}" name="address" >{fc_lang('押桶')}</th>

			<th class="{ns_sorting('remark')}" name="remark" >{fc_lang('备注')}</th>
		</tr>
		</thead>
		<tbody>
		{loop $list $t}
		<tr id="dr_row_{$t.uid}">
			<!--<td><input name="ids[]" type="checkbox" class="dr_select toggle md-check" value="{$t.uid}" /></td>-->
			<td>{dr_keyword_highlight($t.cname, $param.keyword)}</td>
			<td>{dr_keyword_highlight($t.phone, $param.keyword)}</td>
			<td>{dr_keyword_highlight($t.address, $param.keyword)}</td>
			<td>{dr_keyword_highlight($t.saleTime, $param.keyword)}</td>
			<td>{dr_keyword_highlight($t.name, $param.keyword)}</td>
			<td>{dr_keyword_highlight($t.debtBucket, $param.keyword)}</td>
			<td>{dr_keyword_highlight($t.debtMoney, $param.keyword)}</td>
			<td>{dr_keyword_highlight($t.depositBucket, $param.keyword)}</td>
			<td>{dr_keyword_highlight($t.remark, $param.keyword)}</td>
		</tr>
		{/loop}
		<!--<tr class="mtable_bottom">-->
        	<!--<th width="20"  ><input name="dr_select" class="toggle md-check" id="dr_select" type="checkbox" onClick="dr_selected()" /></th>-->
			<!--<td colspan="10"  >-->
            <!--{if $this->ci->is_auth('member/admin/home/del')}-->
				<!--<label><button type="button" class="btn red btn-sm" name="option" onClick="$('#action').val('del');dr_confirm_set_all('{fc_lang('您确定要这样操作吗？')}')"><i class="fa fa-trash"></i> {fc_lang('删除')}</button></label>-->
            <!--{/if}-->

			<!--</td>-->
		<!--</tr>-->
		</tbody>
		</table>

		</div>
	</div>
</div>
</form>
<div id="pages"><a>{fc_lang('共%s条', $param['total'])}</a>{$_pages}</div>
{template nfooter.html}