{template "nheader.html"}

<style>

    span{

        color: red;

    }

</style>
<!-- BEGIN PAGE BAR -->
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <a href="{dr_url('home/main')}">{fc_lang('网站后台')}</a>
            <i class="fa fa-circle"></i>
        </li>
        <li>
            <a class="blue">{fc_lang('总览')}</a>
        </li>
    </ul>
    <div class="page-toolbar">
    </div>
</div>
<!-- END PAGE BAR -->

<!-- BEGIN PAGE TITLE-->
<h3 class="page-title">
    <small></small>
</h3>

{if $admin.usermenu}
<div class="row" style="margin-bottom: 20px">
    <div class="col-md-12">
        <div class="admin-usermenu">
            {loop $admin.usermenu $t}
            <a class="btn {if $t.color && $t.color!='default'}{$t.color}{else}btn-default{/if}" href="{$t.url}"> {$t.name} </a>
            {/loop}
        </div>
    </div>
</div>
{/if}


<div class="row">
    <div class="col-md-6 col-sm-6">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user  font-red-sunglo" style="font-size: 20px;"></i>
                    <span class="caption-subject font-red-sunglo">{fc_lang('长时间未访问客户')}</span>
                </div>
            </div>
            <div class="portlet-body">
                <div>
                    <table class="table table-light mtable">
                        {loop $customerInfo $t}
                        <tr>
                            <td>&nbsp;<span color="red">{$t.cname}</span>&nbsp;上次访问时间为
                                <span>{$t.saleTime}</span>，
                                已经超过设置的&nbsp;<span>{$t.meetTime}</span>&nbsp;天访问期限</td>
                        </tr>
                        {/loop}
                    </table>
                </div>
            </div>
        </div>
    </div>
     <div class="col-md-6 col-sm-6">
        <div class="portlet light ">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-user font-red-sunglo" style="font-size: 20px;"></i>
                    <span class="caption-subject font-red-sunglo  ">{fc_lang('长时间未结款客户')}</span>
                </div>
            </div>
            <div class="portlet-body">
                <div>
                    <table class="table table-light mtable">
                        {loop $debtInfo $t}
                        <tr>
                            <td>&nbsp;<span color="red">{$t.cname}</span>&nbsp;上次访问时间为
                                <span>{$t.saleTime}</span>，欠款为<span>￥{$t.allDebt}</span>元
                                已经超过设置的&nbsp;<span>{$t.meetTime}</span>&nbsp;天欠款期限</td>
                        </tr>
                        {/loop}
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    var countCustomer = {json_encode($customerInfo)};
    var debtInfo = {json_encode($debtInfo)};
    console.log(countCustomer);
    var text = "客户";
    $.each(countCustomer,function (index,value) {
        text += '-' +value.cname + '-';
    })

    text += "据上次访问时间已超过设置时间";
    alert(text);
    var debtText = "客户";
    $.each(debtInfo,function (index,value) {
        debtText += '-' +value.cname + '-';
    })

    debtText += "欠款已超过设置时间";
    alert(debtText);
</script>
{template "nfooter.html"}